<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= content_for :data_url, account_path %>


<%# Reload the graphs every time, skipping jQuery Mobile cache %>
<%= javascript_include_tag 'owums.account_logins_graph', :cache => false %>
<%= javascript_include_tag 'owums.account_traffic_graph', :cache => false %>


<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                backgroundColor: null,
                renderTo: 'usage_bar_chart',
                type: 'bar',
                panning: false
            },
            title: {
                text: ''
            },
            xAxis: {
                gridLineWidth: 0,
                enabled: false,
                lineWidth: -1,
                categories: [''],
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                maxPadding: 0,
                enabled: true,
                gridLineWidth: 0,
                lineWidth: 0,
                boarderWidth: 0,
                min: 0,
                max: parseFloat("<%= bytes_to_human(@account.quota) %>") - 1.5,
                title: {
                    text: '',
                    margin: 0
                },
                labels: {
                    enabled: false
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    if (this.series.name != 'Quota') {
                        return 'Used ' +
                                Math.round("<%= (@account.total_traffic_from_reset) %>" / "<%= (@account.quota) %>" * 100) + '% (' +
                                "<%= bytes_to_human(@account.total_traffic_from_reset) %>" + ") ";
                    }
                    else {
                        return false;
                    }
                }
            },
            plotOptions: {
                series: {
                    animation: false,
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            fontWeight: 'bold',
                            fontSize: '13px'
                        },
                        formatter: function () {
                            if (this.series.name != 'Quota') {
                                return "<%= bytes_to_human(@account.total_traffic_from_reset) %>" +
                                        ' used of ' + "<%= bytes_to_human(@account.quota) %>" + ' quota';
                            }
                            else {
                                return '';
                            }
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: 'Quota',
                    data: [parseFloat("<%= bytes_to_human(@account.quota) %>")],
                    color: 'grey'
                },
                {
                    name: 'Usage',
                    data: [ parseFloat("<%= bytes_to_GB(@account.total_traffic_from_reset) %>")],
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor)
                }
            ]
        });
        $('.highcharts-axis').css('display', 'none');
    });

</script>

<div data-role="collapsible">
  <h2><%= t(:Personal_details) %></h2>

  <p>
    <strong><%= t :Name %></strong>: <%= @account.given_name %> <%= @account.surname %>
  </p>


  <% if @account.has_image? %>
      <p>
        <strong><%= t :Document_photo %></strong>:<br/>
        <%= document_of @account %>
      </p>
  <% end %>

  <p>
    <strong><%= t :Email %></strong>: <%= @account.email %>
  </p>
  <%# Usage, with percentage %>
  <p>
    <strong>Usage this month: </strong> <br>
    <%= bytes_to_human(@account.total_traffic_from_reset) %> of <%= bytes_to_human(@account.quota) %> quota
  </p>

  <p>
    <strong>Next reset date: </strong> <br>
    <%= @account.next_reset.strftime('%a, %d-%b-%Y') %>, <%= @account.days_until_next_reset %> day(s) left
  </p>

  <p><%= link_to t(:Edit), edit_account_path, 'data-role' => 'button', 'data-icon' => 'gear', 'data-theme' => 'a' %></p>
</div>

<div data-role="collapsible" data-collapsed="true">
  <h2><%= t(:Graphs) %></h2>

  <h3><%= t(:'Volume Usage') %></h3>
  <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

  <div id="usage_bar_chart" style=" min-width: 300px; max-width: 300px; height: 100px; margin: 0 auto"></div>

  <h3><%= t(:Traffic) %></h3>
  <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

  <div class="block account_graph" id="account_traffic_graph"></div>

  <h3><%= t(:Logins) %></h3>
  <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

  <div class="block account_graph" id="account_logins_graph"></div>

</div>

<div data-role="collapsible" data-collapsed="true">
  <h2><%= t(:Last_x_user_sessions, :count => 10) %></h2>

  <table>
    <thead>
    <tr>
      <th><strong><%= t :From %></strong></th>
      <th><strong><%= t :To %></strong></th>
      <th><strong><%= t :Downloaded_bytes %></strong></th>
      <th><strong><%= t :Uploaded_bytes %></strong></th>
    </tr>
    </thead>

    <tbody>
    <% @account.last_sessions(10).each do |session| %>
        <tr>
          <td><%= l session.acct_start_time, :format => :short %></td>
          <% if session.acct_stop_time.blank? %>
              <td><%= t :online %></td>
          <% else %>
              <td><%= l session.acct_stop_time, :format => :short %></td>
          <% end %>
          <td><%= bytes_to_human(session.acct_output_octets) %></td>
          <td><%= bytes_to_human(session.acct_input_octets) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p><%= button_to t(:Refresh_data), "", :method => :get, 'data-transition' => 'fade', 'data-icon' => 'refresh', 'data-theme' => 'a' %></p>
<p><%= mobile_link_to_logout %></p>