<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= javascript_include_tag 'highcharts.v.4',
                               'owums.graphs',
                               'owums.account_logins_graph',
                               'owums.account_traffic_graph'
    %>
<% end %>


<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                backgroundColor: null,
                renderTo: 'usage_bar_chart',
                type: 'bar',
                panning: false
            },
            title: {
                text: ''
            },
            xAxis: {
                gridLineWidth: 0,
                enabled: false,
                lineWidth: -1,
                categories: [''],
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                maxPadding: 0,
                enabled: true,
                gridLineWidth: 0,
                lineWidth: 0,
                boarderWidth: 0,
                min: 0,
                max: parseFloat("<%= bytes_to_human(@account.quota) %>") - 1.5,
                title: {
                    text: '',
                    margin: 0
                },
                labels: {
                    enabled: false
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    if (this.series.name != 'Quota') {
                        return 'Used ' +
                                Math.round("<%= (@account.total_traffic_from_reset) %>" / ("<%= (@account.quota) %>") * 100) + '% (' +
                                "<%= bytes_to_human(@account.total_traffic_from_reset) %>" + ") ";
                    }
                    else {
                        return false;
                    }
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        align: 'center',
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                        style: {
                            fontWeight: 'bold',
                            fontSize: '13px'
                        },
                        formatter: function () {
                            if (this.series.name != 'Quota') {
                                return "<%= bytes_to_human(@account.total_traffic_from_reset) %>" +
                                        ' used of ' + "<%= bytes_to_human(@account.quota) %>" + ' quota';
                            }
                            else {
                                return '';
                            }
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: 'Quota',
                    data: [parseFloat("<%= bytes_to_human(@account.quota) %>")],
                    color: 'grey'
                },
                {
                    name: 'Usage',
                    data: [ parseFloat("<%= bytes_to_GB(@account.total_traffic_from_reset) %>")],
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor)
                }
            ]
        });
        $('.highcharts-axis').css('display', 'none');
    });

</script>


<div class="grid_3">
  <div class="box">
    <div class="block" id="general_info">
      <fieldset>
        <p>
          <strong><%= t :Name %></strong><br/>
          <%= @account.given_name %>  <%= @account.surname %>
        </p>
        <%# Comment out surname %>
        <% if false %>
            <p>
              <strong><%= t :Surname %></strong><br/>
              <%= @account.surname %>
            </p>
        <% end %>

        <% if @account.has_image? %>
            <p>
              <strong><%= t :Document_photo %></strong><br/>
              <%= document_of @account %>
            </p>
        <% end %>
        <%# Comment out state %>
        <% if false %>
            <p>
              <strong><%= t :State %></strong><br/>
              <%= @account.state %>
            </p>
        <% end %>

        <% if CONFIG['city'] %>
            <p>
              <strong><%= t :City %></strong><br/>
              <%= @account.city %>
            </p>
        <% end %>
        <% if CONFIG['address'] %>
            <p>
              <strong><%= t :Address %></strong><br/>
              <%= @account.address %>
            </p>
        <% end %>
        <p>
          <strong><%= t :Email %></strong><br/>
          <%= @account.email %>
        </p>

        <%# Usage, with percentage %>
        <p>
          <strong>Usage this month: </strong> <br>
          <%= bytes_to_human(@account.total_traffic_from_reset) %>
        </p>

        <p>
          <strong>Monthly quota: </strong> <br>
          <%= bytes_to_human(@account.quota) %>
        </p>
        <p>
          <strong>Days remaining: </strong> <br>
          <%= @account.days_until_next_reset %>
        </p>
        <p>
          <strong>Next reset date: </strong> <br>
          <%= @account.next_reset.strftime('%a, %d-%b-%Y') %>
        </p>

        <%# Comment out some fields. %>
        <% if false %>
            <p>
              <strong><%= t :Registration_date %></strong><br/>
              <%= l @account.created_at %>
            </p>

            <p>
              <strong><%= t :Verification_date %></strong><br/>
              <% if @account.verified %>
                  <%= l @account.verified_at %>
              <% else %>
                  <span style="color: red; "><%= t :Not_verified %></span>
              <% end %>
            </p>

            <p>
              <strong><%= t :Radius_logins %></strong><br/>
              <%= @account.radius_accountings.count %>
            </p>

        <p>
          <strong><%= t :Last_login_ip %></strong><br/>
          <%= @account.last_login_ip %>
        </p>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>

<div class="grid_9">
  <div class="box">
    <h2><%= t(:'Volume Usage') %></h2>
    <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

    <div id="usage_bar_chart" style=" min-width: 110px; max-width: 700px; height: 100px; margin: 0 auto"></div>

  </div>
  <div class="clear"></div>

  <div class="box">
    <h2><%= t(:'Daily usage for the period (') %><%= @account.last_reset.strftime('%d/%m/%y') %>
      to <%= (@account.next_reset-1).strftime('%d/%m/%y') %>)</h2>
    <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

    <div class="block account_graph" id="account_traffic_graph"></div>
  </div>

  <div class="clear"></div>

  <div class="box">
    <h2><%= t(:Logins) %></h2>
    <h4 class="no_graphs"><%= t :Graphs_not_supported %></h4>

    <div class="block account_graph" id="account_logins_graph"></div>
  </div>

  <p>
    <%= button_to t(:Refresh_data), "", :method => :get %>
  </p>
</div>

<div class="clear"></div>
<div class="grid_12">
  <div class="box">
    <h2><%= t :User_sessions %> <%= image_tag 'spinner_black.gif', :id => 'loading', :class => 'hidden' %></h2>

    <div class="block" id="rad_list_block">
      <%= render 'common/radius_accounting_list', :accountings => @radius_accountings, :total_accountings => @total_accountings %>
    </div>
  </div>
</div>
<div class="clear"></div>
